<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <!--This bundle was moved by the Telerik VS Extensions for compatibility reasons-->
    @*@Scripts.Render("~/bundles/jquery")*@

    <style>
        html {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
    <link href="~/Content/vendors/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/nprogress.css" rel="stylesheet" />
    <link href="~/Content/vendors/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/custom.min.css" rel="stylesheet" />

    <link href="~/Content/kendo/2020.1.114/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2020.1.114/kendo.rtl.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2020.1.114/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2020.1.114/kendo.default.mobile.min.css" rel="stylesheet" />


    @RenderSection("Style", required: false)
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col menu_fixed" id="menu_fixed">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="fixed_sidebar.html" class="site_title">
                            <img src="~/Content/Img/Logo.png" width="50" height="50" />
                            <span>QL Đất Đai</span>
                        </a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/Files/Images/Avatar/avt1.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Xin chào,</span>
                            <h2>
                                <label id="lbTenNguoiDangNhap"></label>
                            </h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Quản lý hồ sơ</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-edit"></i> Tiếp nhận hồ sơ <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Tiếp nhận", "Index", "TiepNhanHoSo")</li>
                                        <li>@Html.ActionLink("Bàn giao", "Index", "QuanLyCongViec")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-table"></i> Thụ lý hồ sơ <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Thụ lý", "Index", "ThuLyHoSo")</li>
                                        <li>@Html.ActionLink("Bàn giao thông báo", "Index", "ThuLyHoSo")</li>
                                        <li>@Html.ActionLink("Bàn giao lưu trữ", "Index", "ThuLyHoSo")</li>
                                        <li>@Html.ActionLink("Nghiệm thu", "Index", "ThuLyHoSo")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-file"></i> Tiếp nhận biên lai <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Xử lý biên lai", "Index", "BienLai")</li>
                                        <li>@Html.ActionLink("Bàn giao biên lai", "BaoCaoCongViecThucHien", "BaoCaoCongViec")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","TraKetQua")"><i class="fa fa-th"></i> Trả kết quả </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "LuuKho")"><i class="fa fa-save"></i> Lưu trữ hồ sơ </a>
                                </li>
                            </ul>
                        </div>
                       

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <button type="button" class="btn btn-primary" onclick="logout()">
                            <span data-toggle="tooltip" data-placement="top" title="Logout" class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </button>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav fixed-top">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <div class="row" style="height:53px; margin:0px; ">
                            <div class="col col-8 " style="padding-top:5px;">
                                <h1 style="font-size: 24px!important; ">
                                    @RenderSection("RouterPage", required: false)
                                </h1>

                            </div>
                            <div class="col col-4">
                                <ul class=" navbar-right">
                                    <li class="nav-item dropdown open" style="padding-left: 15px;">
                                        <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                            <img src="~/Files/Images/Avatar/avt1.jpg" alt="">
                                            <label id="lbTenNguoiDangNhap1"></label>
                                        </a>
                                        <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="javascript:;"> Profile</a>
                                            <a class="dropdown-item" href="javascript:;">
                                                <span class="badge bg-red pull-right">50%</span>
                                                <span>Settings</span>
                                            </a>
                                            <a class="dropdown-item" href="javascript:;">Help</a>
                                            <a class="dropdown-item" href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                        </div>
                                    </li>

                                    <li role="presentation" class="nav-item dropdown open">
                                        <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-envelope-o"></i>
                                            <span class="badge bg-green">6</span>
                                        </a>
                                        <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                                            <li class="nav-item">
                                                <a class="dropdown-item">
                                                    <span class="image"><img src="~/Files/Images/Avatar/avt1.jpg" alt="Profile Image" /></span>
                                                    <span>
                                                        <span>John Smith</span>
                                                        <span class="time">3 mins ago</span>
                                                    </span>
                                                    <span class="message">
                                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="dropdown-item">
                                                    <span class="image"><img src="~/Files/Images/Avatar/avt1.jpg" alt="Profile Image" /></span>
                                                    <span>
                                                        <span>John Smith</span>
                                                        <span class="time">3 mins ago</span>
                                                    </span>
                                                    <span class="message">
                                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="dropdown-item">
                                                    <span class="image"><img src="~/Files/Images/Avatar/avt1.jpg" alt="Profile Image" /></span>
                                                    <span>
                                                        <span>John Smith</span>
                                                        <span class="time">3 mins ago</span>
                                                    </span>
                                                    <span class="message">
                                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="dropdown-item">
                                                    <span class="image"><img src="~/Files/Images/Avatar/avt1.jpg" alt="Profile Image" /></span>
                                                    <span>
                                                        <span>John Smith</span>
                                                        <span class="time">3 mins ago</span>
                                                    </span>
                                                    <span class="message">
                                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                                    </span>
                                                </a>
                                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                                    <a class="dropdown-item" href="javascript:;"> Profile</a>
                                                    <a class="dropdown-item" href="javascript:;">
                                                        <span class="badge bg-red pull-right">50%</span>
                                                        <span>Settings</span>
                                                    </a>
                                                    <a class="dropdown-item" href="javascript:;">Help</a>
                                                    <a class="dropdown-item" href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                                </div>
                                            </li>

                                            <li role="presentation" class="nav-item dropdown open">
                                                <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa fa-envelope-o"></i>
                                                    <span class="badge bg-green">6</span>
                                                </a>
                                                <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                                                    <li class="nav-item">
                                                        <a class="dropdown-item">
                                                            <span class="image"><img src="~/Files/Images/Avatar/avt1.jpg" alt="Profile Image" /></span>
                                                            <span>
                                                                <span>John Smith</span>
                                                                <span class="time">3 mins ago</span>
                                                            </span>
                                                            <span class="message">
                                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="dropdown-item">
                                                            <span class="image"><img src="~/Files/Images/Avatar/avt1.jpg" alt="Profile Image" /></span>
                                                            <span>
                                                                <span>John Smith</span>
                                                                <span class="time">3 mins ago</span>
                                                            </span>
                                                            <span class="message">
                                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="dropdown-item">
                                                            <span class="image"><img src="~/Files/Images/Avatar/avt1.jpg" alt="Profile Image" /></span>
                                                            <span>
                                                                <span>John Smith</span>
                                                                <span class="time">3 mins ago</span>
                                                            </span>
                                                            <span class="message">
                                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="dropdown-item">
                                                            <span class="image"><img src="~/Files/Images/Avatar/avt1.jpg" alt="Profile Image" /></span>
                                                            <span>
                                                                <span>John Smith</span>
                                                                <span class="time">3 mins ago</span>
                                                            </span>
                                                            <span class="message">
                                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <div class="text-center">
                                                            <a class="dropdown-item">
                                                                <strong>Xem thêm thông báo</strong>
                                                                <i class="fa fa-angle-right"></i>
                                                            </a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                            </div>

                        </div>


                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main" style="padding-top: 10px; padding-left:5px;padding-right:5px; padding-bottom:5px;">
                <div class="" style="margin-top: 50px; padding: 5px;">
                    @RenderBody()

                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            @*<footer >
                    <div class="pull-right">
                        <p>&copy; @DateTime.Now.Year - SonPhat C&T</p>
                    </div>
                    <div class="clearfix"></div>
                </footer>*@
            <!-- /footer content -->
        </div>


    </div>




    <script src="~/Scripts/vendors/jquery.min.js"></script>
    <script src="~/Scripts/vendors/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/vendors/fastclick.js"></script>
    <script src="~/Scripts/vendors/nprogress.js"></script>
    <script src="~/Scripts/vendors/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Scripts/vendors/custom.min.js"></script>
    <script src="~/Scripts/vendors/jquery.cookie.js"></script>



    <script src="@Url.Content("~/Scripts/kendo/2020.1.114/kendo.all.min.js")"></script>
    <script src="~/Scripts/kendo/2020.1.114/jszip.min.js"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script src="~/Scripts/kendo/2020.1.114/jszip.min.js"></script>

    @*@Scripts.Render("~/bundles/bootstrap")*@

    @*<script>
            $(document).ready(function () {
                var ten = $.cookie("TenTaiKhoan");
                $("#lbTenNguoiDangNhap").text(ten);
                $("#lbTenNguoiDangNhap1").text(ten);

            });


            function logout() {

                $.ajax({
                    type: "POST",
                    url: "/ProductDevelopment/taikhoan/DangXuatHeThong",//make sure url exist
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        window.location.href = data.redirectTo; //redirect
                    },
                    error: function (data) { alert(data.Message); }
                });
            }

        </script>*@

    @RenderSection("scripts", required: false)
</body>
</html>
